<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naos.Build.Analyzers" version="1.55.17" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="OBeautifulCode.Compression" version="1.0.7" targetFramework="net462" />
  <package id="OBeautifulCode.Representation.System" version="1.0.36" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization" version="1.0.12" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization.Json" version="1.0.12" targetFramework="net462" />
  <package id="OBeautifulCode.Type" version="1.0.31" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>